HouseHQ_web/HHQ_web/HHQ_web/Web References/localhost/HHQ_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAllAppsForUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ipServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAppsForUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllAppsForUsersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="runApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ipServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="runAppResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="tns:WS_Login" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Login">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="okLogin" type="tns:okLogin" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="tns:error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="okLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="appList" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="img" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="createUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="levelKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="createUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="level" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="changeAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAppsToServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listApps" type="tns:ArrayOfAddApps" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAddApps">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="addApps" nillable="true" type="tns:addApps" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="addApps">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pathExeFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nameApp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addAppsToServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addAppsToServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="allApps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="allAppsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="allAppsResult" type="tns:getAllApps" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="getAllApps">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="allAppList" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="deleteAppsForServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listApps" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAppsForServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteAppsForServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAppsFromUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAppsFromUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteAppsFromUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAppForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAppForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addAppForUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logoutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userNameDelete" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adminUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="allUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="allUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="allUsersResult" type="tns:getAllUsers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="getAllUsers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="usersList" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="getUserInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserInformationResult" type="tns:userInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="userInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDBResult" type="tns:jsonSentDB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="jsonSentDB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="db" type="tns:ArrayOfGetDB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGetDB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="getDB" nillable="true" type="tns:getDB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="getDB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LEVEL_KEY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllAppsForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAppsForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllAppsForUserResult" type="tns:getAllApps" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLogs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLogsResult" type="tns:jsonSentLogs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="jsonSentLogs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="jsonLogs" type="tns:ArrayOfSentLogs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSentLogs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="sentLogs" nillable="true" type="tns:sentLogs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="sentLogs">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="dateLogs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="typeLog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="log" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="deleteLogs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteLogsResponse">
        <s:complexType />
      </s:element>
      <s:element name="getAllAppsOnPC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAppsOnPCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllAppsOnPCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sentMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="namePc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sentMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sentMsgResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logOffAllUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logOffAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logOffAllUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllUsersRemoteApps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllUsersRemoteAppsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllUsersRemoteAppsResult" type="tns:getAllUsersRemoteApp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="getAllUsersRemoteApp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="users" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAppDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAppDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAppDBResult" type="tns:jsonSentApp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="jsonSentApp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="jsonApp" type="tns:ArrayOfSentApp" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSentApp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="sentApp" nillable="true" type="tns:sentApp" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="sentApp">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMOTEAPP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getBLOCKS_IP_DB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBLOCKS_IP_DBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBLOCKS_IP_DBResult" type="tns:jsonSentBLOCKS_IP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="jsonSentBLOCKS_IP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="jsonBLOCKS_IP" type="tns:ArrayOfSentBLOCKS_IP" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSentBLOCKS_IP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="sentBLOCKS_IP" nillable="true" type="tns:sentBLOCKS_IP" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="sentBLOCKS_IP">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ipID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllAppsForUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllAppsForUsers" />
  </wsdl:message>
  <wsdl:message name="getAllAppsForUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllAppsForUsersResponse" />
  </wsdl:message>
  <wsdl:message name="runAppSoapIn">
    <wsdl:part name="parameters" element="tns:runApp" />
  </wsdl:message>
  <wsdl:message name="runAppSoapOut">
    <wsdl:part name="parameters" element="tns:runAppResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="createUsersSoapIn">
    <wsdl:part name="parameters" element="tns:createUsers" />
  </wsdl:message>
  <wsdl:message name="createUsersSoapOut">
    <wsdl:part name="parameters" element="tns:createUsersResponse" />
  </wsdl:message>
  <wsdl:message name="changeAccountSoapIn">
    <wsdl:part name="parameters" element="tns:changeAccount" />
  </wsdl:message>
  <wsdl:message name="changeAccountSoapOut">
    <wsdl:part name="parameters" element="tns:changeAccountResponse" />
  </wsdl:message>
  <wsdl:message name="addAppsToServerSoapIn">
    <wsdl:part name="parameters" element="tns:addAppsToServer" />
  </wsdl:message>
  <wsdl:message name="addAppsToServerSoapOut">
    <wsdl:part name="parameters" element="tns:addAppsToServerResponse" />
  </wsdl:message>
  <wsdl:message name="allAppsSoapIn">
    <wsdl:part name="parameters" element="tns:allApps" />
  </wsdl:message>
  <wsdl:message name="allAppsSoapOut">
    <wsdl:part name="parameters" element="tns:allAppsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAppsForServerSoapIn">
    <wsdl:part name="parameters" element="tns:deleteAppsForServer" />
  </wsdl:message>
  <wsdl:message name="deleteAppsForServerSoapOut">
    <wsdl:part name="parameters" element="tns:deleteAppsForServerResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAppsFromUserSoapIn">
    <wsdl:part name="parameters" element="tns:deleteAppsFromUser" />
  </wsdl:message>
  <wsdl:message name="deleteAppsFromUserSoapOut">
    <wsdl:part name="parameters" element="tns:deleteAppsFromUserResponse" />
  </wsdl:message>
  <wsdl:message name="addAppForUserSoapIn">
    <wsdl:part name="parameters" element="tns:addAppForUser" />
  </wsdl:message>
  <wsdl:message name="addAppForUserSoapOut">
    <wsdl:part name="parameters" element="tns:addAppForUserResponse" />
  </wsdl:message>
  <wsdl:message name="logoutSoapIn">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="logoutSoapOut">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="deleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="deleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="allUsersSoapIn">
    <wsdl:part name="parameters" element="tns:allUsers" />
  </wsdl:message>
  <wsdl:message name="allUsersSoapOut">
    <wsdl:part name="parameters" element="tns:allUsersResponse" />
  </wsdl:message>
  <wsdl:message name="getUserInformationSoapIn">
    <wsdl:part name="parameters" element="tns:getUserInformation" />
  </wsdl:message>
  <wsdl:message name="getUserInformationSoapOut">
    <wsdl:part name="parameters" element="tns:getUserInformationResponse" />
  </wsdl:message>
  <wsdl:message name="getDBSoapIn">
    <wsdl:part name="parameters" element="tns:getDB" />
  </wsdl:message>
  <wsdl:message name="getDBSoapOut">
    <wsdl:part name="parameters" element="tns:getDBResponse" />
  </wsdl:message>
  <wsdl:message name="getAllAppsForUserSoapIn">
    <wsdl:part name="parameters" element="tns:getAllAppsForUser" />
  </wsdl:message>
  <wsdl:message name="getAllAppsForUserSoapOut">
    <wsdl:part name="parameters" element="tns:getAllAppsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="getLogsSoapIn">
    <wsdl:part name="parameters" element="tns:getLogs" />
  </wsdl:message>
  <wsdl:message name="getLogsSoapOut">
    <wsdl:part name="parameters" element="tns:getLogsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteLogsSoapIn">
    <wsdl:part name="parameters" element="tns:deleteLogs" />
  </wsdl:message>
  <wsdl:message name="deleteLogsSoapOut">
    <wsdl:part name="parameters" element="tns:deleteLogsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllAppsOnPCSoapIn">
    <wsdl:part name="parameters" element="tns:getAllAppsOnPC" />
  </wsdl:message>
  <wsdl:message name="getAllAppsOnPCSoapOut">
    <wsdl:part name="parameters" element="tns:getAllAppsOnPCResponse" />
  </wsdl:message>
  <wsdl:message name="sentMsgSoapIn">
    <wsdl:part name="parameters" element="tns:sentMsg" />
  </wsdl:message>
  <wsdl:message name="sentMsgSoapOut">
    <wsdl:part name="parameters" element="tns:sentMsgResponse" />
  </wsdl:message>
  <wsdl:message name="logOffAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:logOffAllUsers" />
  </wsdl:message>
  <wsdl:message name="logOffAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:logOffAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="getAllUsersRemoteAppsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllUsersRemoteApps" />
  </wsdl:message>
  <wsdl:message name="getAllUsersRemoteAppsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllUsersRemoteAppsResponse" />
  </wsdl:message>
  <wsdl:message name="getAppDBSoapIn">
    <wsdl:part name="parameters" element="tns:getAppDB" />
  </wsdl:message>
  <wsdl:message name="getAppDBSoapOut">
    <wsdl:part name="parameters" element="tns:getAppDBResponse" />
  </wsdl:message>
  <wsdl:message name="getBLOCKS_IP_DBSoapIn">
    <wsdl:part name="parameters" element="tns:getBLOCKS_IP_DB" />
  </wsdl:message>
  <wsdl:message name="getBLOCKS_IP_DBSoapOut">
    <wsdl:part name="parameters" element="tns:getBLOCKS_IP_DBResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getAllAppsForUsers">
      <wsdl:input message="tns:getAllAppsForUsersSoapIn" />
      <wsdl:output message="tns:getAllAppsForUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="runApp">
      <wsdl:input message="tns:runAppSoapIn" />
      <wsdl:output message="tns:runAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createUsers">
      <wsdl:input message="tns:createUsersSoapIn" />
      <wsdl:output message="tns:createUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changeAccount">
      <wsdl:input message="tns:changeAccountSoapIn" />
      <wsdl:output message="tns:changeAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addAppsToServer">
      <wsdl:input message="tns:addAppsToServerSoapIn" />
      <wsdl:output message="tns:addAppsToServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="allApps">
      <wsdl:input message="tns:allAppsSoapIn" />
      <wsdl:output message="tns:allAppsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteAppsForServer">
      <wsdl:input message="tns:deleteAppsForServerSoapIn" />
      <wsdl:output message="tns:deleteAppsForServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteAppsFromUser">
      <wsdl:input message="tns:deleteAppsFromUserSoapIn" />
      <wsdl:output message="tns:deleteAppsFromUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addAppForUser">
      <wsdl:input message="tns:addAppForUserSoapIn" />
      <wsdl:output message="tns:addAppForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="tns:logoutSoapIn" />
      <wsdl:output message="tns:logoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="tns:deleteUserSoapIn" />
      <wsdl:output message="tns:deleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="allUsers">
      <wsdl:input message="tns:allUsersSoapIn" />
      <wsdl:output message="tns:allUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserInformation">
      <wsdl:input message="tns:getUserInformationSoapIn" />
      <wsdl:output message="tns:getUserInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDB">
      <wsdl:input message="tns:getDBSoapIn" />
      <wsdl:output message="tns:getDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllAppsForUser">
      <wsdl:input message="tns:getAllAppsForUserSoapIn" />
      <wsdl:output message="tns:getAllAppsForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLogs">
      <wsdl:input message="tns:getLogsSoapIn" />
      <wsdl:output message="tns:getLogsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteLogs">
      <wsdl:input message="tns:deleteLogsSoapIn" />
      <wsdl:output message="tns:deleteLogsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllAppsOnPC">
      <wsdl:input message="tns:getAllAppsOnPCSoapIn" />
      <wsdl:output message="tns:getAllAppsOnPCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sentMsg">
      <wsdl:input message="tns:sentMsgSoapIn" />
      <wsdl:output message="tns:sentMsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logOffAllUsers">
      <wsdl:input message="tns:logOffAllUsersSoapIn" />
      <wsdl:output message="tns:logOffAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsersRemoteApps">
      <wsdl:input message="tns:getAllUsersRemoteAppsSoapIn" />
      <wsdl:output message="tns:getAllUsersRemoteAppsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAppDB">
      <wsdl:input message="tns:getAppDBSoapIn" />
      <wsdl:output message="tns:getAppDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBLOCKS_IP_DB">
      <wsdl:input message="tns:getBLOCKS_IP_DBSoapIn" />
      <wsdl:output message="tns:getBLOCKS_IP_DBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllAppsForUsers">
      <soap:operation soapAction="http://tempuri.org/getAllAppsForUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runApp">
      <soap:operation soapAction="http://tempuri.org/runApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUsers">
      <soap:operation soapAction="http://tempuri.org/createUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeAccount">
      <soap:operation soapAction="http://tempuri.org/changeAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAppsToServer">
      <soap:operation soapAction="http://tempuri.org/addAppsToServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allApps">
      <soap:operation soapAction="http://tempuri.org/allApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAppsForServer">
      <soap:operation soapAction="http://tempuri.org/deleteAppsForServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAppsFromUser">
      <soap:operation soapAction="http://tempuri.org/deleteAppsFromUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAppForUser">
      <soap:operation soapAction="http://tempuri.org/addAppForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="http://tempuri.org/logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allUsers">
      <soap:operation soapAction="http://tempuri.org/allUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInformation">
      <soap:operation soapAction="http://tempuri.org/getUserInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDB">
      <soap:operation soapAction="http://tempuri.org/getDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAppsForUser">
      <soap:operation soapAction="http://tempuri.org/getAllAppsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogs">
      <soap:operation soapAction="http://tempuri.org/getLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLogs">
      <soap:operation soapAction="http://tempuri.org/deleteLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAppsOnPC">
      <soap:operation soapAction="http://tempuri.org/getAllAppsOnPC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sentMsg">
      <soap:operation soapAction="http://tempuri.org/sentMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOffAllUsers">
      <soap:operation soapAction="http://tempuri.org/logOffAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsersRemoteApps">
      <soap:operation soapAction="http://tempuri.org/getAllUsersRemoteApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppDB">
      <soap:operation soapAction="http://tempuri.org/getAppDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBLOCKS_IP_DB">
      <soap:operation soapAction="http://tempuri.org/getBLOCKS_IP_DB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllAppsForUsers">
      <soap12:operation soapAction="http://tempuri.org/getAllAppsForUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runApp">
      <soap12:operation soapAction="http://tempuri.org/runApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUsers">
      <soap12:operation soapAction="http://tempuri.org/createUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeAccount">
      <soap12:operation soapAction="http://tempuri.org/changeAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAppsToServer">
      <soap12:operation soapAction="http://tempuri.org/addAppsToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allApps">
      <soap12:operation soapAction="http://tempuri.org/allApps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAppsForServer">
      <soap12:operation soapAction="http://tempuri.org/deleteAppsForServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAppsFromUser">
      <soap12:operation soapAction="http://tempuri.org/deleteAppsFromUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAppForUser">
      <soap12:operation soapAction="http://tempuri.org/addAppForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap12:operation soapAction="http://tempuri.org/logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap12:operation soapAction="http://tempuri.org/deleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allUsers">
      <soap12:operation soapAction="http://tempuri.org/allUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInformation">
      <soap12:operation soapAction="http://tempuri.org/getUserInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDB">
      <soap12:operation soapAction="http://tempuri.org/getDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAppsForUser">
      <soap12:operation soapAction="http://tempuri.org/getAllAppsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogs">
      <soap12:operation soapAction="http://tempuri.org/getLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLogs">
      <soap12:operation soapAction="http://tempuri.org/deleteLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAppsOnPC">
      <soap12:operation soapAction="http://tempuri.org/getAllAppsOnPC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sentMsg">
      <soap12:operation soapAction="http://tempuri.org/sentMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOffAllUsers">
      <soap12:operation soapAction="http://tempuri.org/logOffAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsersRemoteApps">
      <soap12:operation soapAction="http://tempuri.org/getAllUsersRemoteApps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppDB">
      <soap12:operation soapAction="http://tempuri.org/getAppDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBLOCKS_IP_DB">
      <soap12:operation soapAction="http://tempuri.org/getBLOCKS_IP_DB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44349/HHQ_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44349/HHQ_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>