HouseHQ_web/HHQ_web/HHQ_web/Web References/localhost/HHQ_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAppsForUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ipServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAppsForUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllAppsForUsersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="runApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ipServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="runAppResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="tns:WS_Login" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Login">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="okLogin" type="tns:okLogin" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="tns:error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="okLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="appList" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="img" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllAppsForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAppsForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllAppsForUserResult" type="tns:getAllApps" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="getAllApps">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="allAppList" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logoutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDBResult" type="tns:jsonSentDB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="jsonSentDB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="db" type="tns:ArrayOfGetDB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGetDB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="getDB" nillable="true" type="tns:getDB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="getDB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LEVEL_KEY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getAllAppsForUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllAppsForUsers" />
  </wsdl:message>
  <wsdl:message name="getAllAppsForUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllAppsForUsersResponse" />
  </wsdl:message>
  <wsdl:message name="runAppSoapIn">
    <wsdl:part name="parameters" element="tns:runApp" />
  </wsdl:message>
  <wsdl:message name="runAppSoapOut">
    <wsdl:part name="parameters" element="tns:runAppResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="getAllAppsForUserSoapIn">
    <wsdl:part name="parameters" element="tns:getAllAppsForUser" />
  </wsdl:message>
  <wsdl:message name="getAllAppsForUserSoapOut">
    <wsdl:part name="parameters" element="tns:getAllAppsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="logoutSoapIn">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="logoutSoapOut">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="getDBSoapIn">
    <wsdl:part name="parameters" element="tns:getDB" />
  </wsdl:message>
  <wsdl:message name="getDBSoapOut">
    <wsdl:part name="parameters" element="tns:getDBResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllAppsForUsers">
      <wsdl:input message="tns:getAllAppsForUsersSoapIn" />
      <wsdl:output message="tns:getAllAppsForUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="runApp">
      <wsdl:input message="tns:runAppSoapIn" />
      <wsdl:output message="tns:runAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllAppsForUser">
      <wsdl:input message="tns:getAllAppsForUserSoapIn" />
      <wsdl:output message="tns:getAllAppsForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="tns:logoutSoapIn" />
      <wsdl:output message="tns:logoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDB">
      <wsdl:input message="tns:getDBSoapIn" />
      <wsdl:output message="tns:getDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAppsForUsers">
      <soap:operation soapAction="http://tempuri.org/getAllAppsForUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runApp">
      <soap:operation soapAction="http://tempuri.org/runApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAppsForUser">
      <soap:operation soapAction="http://tempuri.org/getAllAppsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="http://tempuri.org/logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDB">
      <soap:operation soapAction="http://tempuri.org/getDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAppsForUsers">
      <soap12:operation soapAction="http://tempuri.org/getAllAppsForUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runApp">
      <soap12:operation soapAction="http://tempuri.org/runApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAppsForUser">
      <soap12:operation soapAction="http://tempuri.org/getAllAppsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap12:operation soapAction="http://tempuri.org/logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDB">
      <soap12:operation soapAction="http://tempuri.org/getDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44349/HHQ_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44349/HHQ_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>